@import "~normalize.css";
@import "./src/scss/modules/buttons.scss";
@import "./src/scss/modules/container.scss";
@import "./src/scss/modules/bubbles.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

body {
  background: #3767ad;
  min-height: 100vh;
}

.header {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__title {
    color: #fff;
    font-size: 55px;
    margin: 0 auto;
    text-align: center;
  }
}
