@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

body {
  background: #3767AD;
  min-height: 100vh;
}

.header {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__title {
    color: #fff;
    font-size: 55px;
    margin: 0 auto;
    text-align: center;
  }
}

.container {
  position: relative;
  height: 280px;
  width: 280px;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &__counter {
    z-index: 1;
    font-size: 112px;
  }
  &__glass {
    position: absolute;
    z-index: -1;
  }
  &__water {
    position: absolute;
    bottom: 18px;
    animation: water .5s linear alternate infinite;
    &--fill {
      transform-origin: bottom center;
      animation: fill .6s linear 1, water .5s .6s linear alternate infinite;
    }
    &--empty {
      animation: empty .6s linear 1 forwards;
      
    }
  }
}

@keyframes water{
  0% {
    transform: scaley(1);
    transform-origin: bottom center;
  }
  100% {
    transform: scaley(1.05);
    transform-origin: bottom center;
  }
}

@keyframes fill{
  0% {
    transform: scale(0.75, 0);
    transform-origin: bottom center;
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    transform-origin: bottom center;
    opacity: 1;
  }
}

@keyframes empty{
  0% {
    transform: scale(1, 1);
    transform-origin: bottom center;
    opacity: 1;
    
  }
  100% {
    transform: scale(0.75, 0);
    transform-origin: bottom center;
    opacity: 0;
  }
}


.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__add {
    display: block;
    width: 216px;
    height: 47px;
    margin-top: 48px;
    margin-bottom: 37px;
    color: #000;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  &__remove {
    background: none;
    border:none;
    color: #fff;
    cursor: pointer;
  }
}

